
<mat-sidenav-container class="example-container">
  <mat-sidenav class="sideNav" mode="side" opened>
    <mat-tab-group>
      <mat-tab class="chats_tab">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">chat</mat-icon>
        </ng-template>
        <mat-action-list>
          <mat-list-item *ngFor="let user of users">
            <mat-icon class="users_icon">wechat</mat-icon>
            <button class="users_btn" mat-list-item (click)="startChat(user)"> {{user.firstname}} {{user.lastname}} </button>
          </mat-list-item>
          </mat-action-list>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">contacts</mat-icon>
        </ng-template>
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Benutzersuche</mat-label>
            <input type="text"
                   placeholder="Suche"
                   aria-label="Benutzersuche"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.username" >
                {{option.username}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <mat-action-list>
          <mat-list-item *ngFor="let user of allUsersInContactList">
            <mat-icon class="users_icon">wechat</mat-icon>
            <button class="users_btn" mat-list-item (click)="startChat(user)"> {{user.username}} </button>
          </mat-list-item>
          </mat-action-list>
      </mat-tab>
       <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">settings</mat-icon>
          </ng-template>  
        </mat-tab>
    </mat-tab-group>

    
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
        <div [hidden]="false" class="chat">
          <mat-card class="info_header">
            <div style="font-size: medium; color: white; font-family: Verdana, Geneva, Tahoma, sans-serif;">
              <input hidden="true" matInput [(ngModel)]="currentOtherUser" name="currentOtherUser">
              {{currentOtherUser}}
            </div>
          </mat-card>
             <form>
              <mat-card class="message-card">
                <div *ngFor="let item of chat">
                  <div *ngIf="item.username != loggedInUserId">
                    <div style="text-align:left;">
                      <mat-card class="chatCard" style="background-color:grey; color: white; font-family: Arial, Helvetica, sans-serif; font-size: medium;" >
                        {{item.message}}
                      </mat-card>  
                      <div style="margin-left: 10px; font-family: Arial, Helvetica, sans-serif; opacity: 30%; font-size: smaller;">
                        {{item.timestamp | date: 'dd.MM.yyyy HH:mm'}}  
                      </div>
                               
                    </div>
                  </div>

                  <div *ngIf="item.username == loggedInUserId">
                    <div style="text-align:right;">
                      <mat-card class="chatCard" style="background-color: #007aff; color: white; font-family: Arial, Helvetica, sans-serif; font-size: medium;">
                        {{item.message}}
                      </mat-card>
                      <div style="margin-left: 10px; font-family: Arial, Helvetica, sans-serif; opacity: 30%; font-size: smaller;">
                        {{item.timestamp | date: 'dd.MM.yyyy HH:mm'}}  
                      </div>
                    </div>
                  </div>


                </div>
              </mat-card>
              <mat-form-field class="mat-form-field" >
                <mat-label class="msg_label">Message</mat-label>
                <input matInput [(ngModel)]="msg" name="message">
              </mat-form-field>
              <button style="background-color: #007aff; font-family: Arial, Helvetica, sans-serif; color:white" (click)="sendMsg()" mat-button>   
                <mat-icon>send</mat-icon>
                Senden
              </button>

            </form>
        </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>