<app-navbar></app-navbar>
<mat-form-field class="mat-form-field" color="warn"> 
  <mat-label>Enter Username</mat-label>
  <input  matInput [(ngModel)]="username" name="username">
</mat-form-field>
<button [disabled]="isUserConnected" class="mat-form-field" mat-stroked-button color="warn" (click)="saveUsername()">Set Username</button>
<div [hidden]="false" class="chat">
  <form>
    <mat-card *ngFor="let item of chat">{{item}}</mat-card> 
    <mat-form-field class="mat-form-field" color="warn"> 
      <mat-label>Message</mat-label>
      <input matInput [(ngModel)]="msg" name="message">
    </mat-form-field>
    <button class="mat-form-field" mat-stroked-button color="warn" (click)="sendMsg()">Send Message</button>
    <button [disabled]="!isUserConnected" class="mat-form-field" mat-stroked-button color="warn" (click)="disconnectChat()">Disconnect</button>
  </form>  
</div>
